table.donateBox { box-sizing: border-box; width: 100%; border: 2px solid rgba(0,0,0,0.2); background: rgba(0,0,0,0.05); border-radius: 4px; }
table.donateBox th, table.donateBox td {box-sizing: border-box;padding: 8px;border: 1px solid rgba(0,0,0,0.1);border-right: 0;border-bottom: 0;text-align: left;}
table.donateBox th {border-top: 0;background: rgb(63, 201, 213);}
table.donateBox th:first-child, table.donateBox td:first-child { border-left: 0; }
table.donateBox select { width: 100%; box-sizing: border-box; background: #fff; border: 1px solid rgba(0,0,0,0.1); margin: 0; padding: 5px; border-radius: 4px; }
table.donateBox select:hover { background: #fffdd4; }
table.donateBox .bonus { display: none; background: #fffb99; text-align: center; width: 100%; margin: 5px auto 0; padding: 5px 0; box-sizing: border-box; border-radius: 4px; }


#alerta { visibility: hidden; position: fixed; display: table; z-index: 1001; margin: 0 auto; padding: 25px 30px; color: #5a5a5a; font-size: 15px; background: #f7f7f7; border-radius: 6px; }
#alerta .ok { display: table; width: 100%; }
#alerta .ok > div { font-size: 12px; font-weight: bold; cursor: pointer; display: table; float: right; margin: 15px 0 0 0; padding: 5px 0; text-align: center; width: 60px; text-transform: uppercase; color: #fff; background: #32c5d2; border: 1px solid #ac0f0f; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; border-radius: 4px; }
#alerta .ok > div:hover {  background: #ac0f0f; border-color: #d21818; }
#alerta .ok.sucesso > div { background: #0dbb00; border: 1px solid #0dbb00; }
#alerta .ok.sucesso > div:hover { background: #0a8c00; border: 1px solid #0a8c00; }
#backblack { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: #000; opacity: 0.8; z-index: 1000; }

.rulesbox { box-sizing: border-box; width: 100%; height: 280px; border: 2px solid rgba(0,0,0,0.5); background: rgba(0,0,0,0.1); overflow: auto; margin: 0 auto 20px; padding: 20px; border-radius: 4px; }
.rulesbox h1 { padding: 0 0 10px; font-size: 17px; }


.color-gris {
    font-size: 14px;
    background: rgba(0,0,0,0.5);
}

   
.color-light {
     background: #6fa7d7;

}

.green{
    color:green;
    font-weight:bold;
}

.red{
    color:red;
    font-weight:bold;
}



/*"Image Checkbox Buttons"*/
.btn-radio {
    width: 100%;
}
.img-radio {
    opacity: 0.5;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}




/*efecto de las tablas con la imagen arriba*/
table.default {border-radius: 4px;box-shadow: 0 0 5px rgba(0,0,0,0.3);width: 100%;background: 0;overflow: hidden;}
table.default tr td:first-child { border: 0; }
table.default tr td { text-align: center; font-size: 12px; padding: 6px 8px; border-left: 1px solid rgba(0,0,0,0.2); background: rgba(0,0,0,0.1); }
table.default tr.two td { background: rgba(0,0,0,0.03); }
table.default tr td.foco { font-weight: bold; color: #000; background: rgba(0,0,0,0.15); }
table.default tr.two td.foco { background: rgba(0,0,0,0.06); }
table.default tr th { font-weight: bold; text-align: center; background: #5e5e5e; color: #fff; padding: 10px 0; }
table.default tr.ctype2, table.default tr.ctype2 td { padding: 0; margin: 0; height: 2px; background: rgba(0,0,0,0.1); }
table.default .pos { width: 25px; text-align: center; }
table.default tr.pin td { background: #fffde5 !important; }


.shopPacks { box-sizing: border-box; width: 100%; padding: 0 0 30px 15px; display: table; }
.shopPacks > a { opacity: 1; transition: opacity 0.3s; position: relative; float: left; width: 136px; height: 136px; display: block; margin: 0 10px 10px 0; background-color: transparent; background-repeat: no-repeat; background-position: center top; border-radius: 3px; }
.shopPacks > a > div { overflow: hidden; box-sizing: border-box; width: 136px; height: 50px; padding: 30px 0 0 0; position: absolute; left: 0; bottom: 0; background: transparent url('../imgs/nm/degrade_black_transp.png'); color: #fff; font-size: 10px; text-align: center; border-radius: 0 0 3px 3px; }
.shopPacks > a:hover { opacity: 0.7; }

.shopItemList { padding: 0 20px 20px; }
.shopItemList table td, .shopItemList table th { text-align: left !important; }
.shopItemList table td { font-size: 13px !important; }
.shopItemList table td:hover {  }

#buyItemForm { position: relative; }

.shopItemList .packImg {
    position: absolute;
    top: -40px;
    right: 20px;
    padding: 6px;
    border-radius: 4px;
    background: rgba(0,0,0,0.2);
}

.shopItemList .packImg, .shopItemList .packImg img {
    width: 80px;
    height: 80px;
}
/*efecto de las tablas con la imagen arriba*/



