body{
	background-color:#222222;
	font-family: 'PT Sans', sans-serif;
	overflow-y:scroll;
}
.header{
	background-color: rgba(34, 34, 34, 0.5);
	padding:0;
	margin:0;
}
.header .overlay{
	background:url(../images/witch.png) no-repeat top fixed;
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
.navbar{
	background-color:transparent;
	border:none;
	border-color:transparent;
	margin:0;
	padding-top:35px;
	padding-bottom:45px;
	/* background-color:rgba(19,19,19,0.5);
	position:relative; */
	background:url(../images/scratches.png) no-repeat center top fixed;
	background-repeat: repeat-x;
}
/* .navbar:after{
	position:absolute;
	content: " ";
	background:url(../images/scratches.png) no-repeat;
	height:20px;
	width:1920px;
	bottom:-20px;
	left:0;
	opacity:0.5;
} */
.navbar a{
	text-transform:uppercase;
	font-size:14px;
	color:#cdcdcd;
	font-weight:700;
	transition:0.2s;
}
.navbar a{
	outline: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color:transparent;
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#fff;
}
.navbar .navbar-nav>li>a.btn-primary{
	background: rgba(255,123,0,1);
	background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(89,42,10,1)));
	background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b00', endColorstr='#592a0a', GradientType=0 );
	border:none;
	color:#ffffff;
	font-size:14px;
	font-weight:700;
	height:50px;
	transition:0.5s;
	/* padding:15px 20px;
	margin-left: 15px; */
	padding: 15px 10px;
	text-shadow: 1px 1px 1px rgba(110, 52, 18, 0.68);
}
.navbar .navbar-nav>li>a.btn-primary>.i-lock{
	/* margin-right:15px;
	vertical-align:middle;
	margin-top: -5px; */
	margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}
.navbar .lang{
	opacity:0.5;
	margin-top: -2px;
}
.navbar .lang:hover{
	opacity:1;
}
.navbar-default .navbar-nav>li>a.btn-primary:hover, .navbar-default .navbar-nav>li>a.btn-primary:focus{
	background: rgba(89,42,10,1);
	background: -moz-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,42,10,1)), color-stop(100%, rgba(255,123,0,1)));
	background: -webkit-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
	background: -o-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
	background: linear-gradient(to bottom, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#592a0a', endColorstr='#ff7b00', GradientType=0 );
}
.header-content{
	margin-top:165px;
}
.header-content{
	text-align:center;
}
.header-content .btn-start>span>img{
	margin-right:20px;
	opacity:1;
	margin-top: -10px;
}
.header-content .btn-start{
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	font-weight:700;
	background:none;
	background-color:rgba(200,255,147,0.5);
	padding:16px 33.5px;
	border:4px solid;
	border-color:rgba(67,83,65,0.90);
	margin-top:35px;
	text-shadow: 1px 1px 1px rgba(110, 52, 18, 0.68);
}
.header-content .arrows{
	margin-top:35px;
	margin-left:5px;
}
.header-content .arrows.left{
	-webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg);
	margin-right:5px;
	margin-left:0;
}
.header-content .col-md-6 .row{
	margin-top:90px;
	margin-bottom:52.5px;
}
.header-content .progressbar{
	background:url(../images/progressbar.png) no-repeat;
	width:150px;
	height:150px;
	position:relative;
	margin:0 auto;
}
.header-content .progressbar-text{
	font-weight:700;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	padding: 0px; 
	margin: 0px; 
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	color:#b1b1b1;
	font-size:12px;
	line-height:1;
}
.header-content .progressbar-text>span{
	font-size:30px;
}
.content{
	/* background-color:rgba(26,26,26,1); */
	background:url(../images/bg.png);
	position:relative;
	margin:0;
	padding:0;
}
.content:before{
	position:absolute;
	content: " ";
	left:0;
	top:-46px;
	background:url(../images/scratches-content.png) bottom no-repeat;
	background-size: 100%;
	width:100%;
	height:47px;
}
.content:after{
	position:absolute;
	content: " ";
	left:0;
	bottom:-45px;
	background:url(../images/scratchesdown-content.png) top no-repeat;
	background-size: 100%;
	width:100%;
	height:48px;
}
.content .thumbnail{
	background-color:transparent;
	border:none;
	border-color:transparent;
	max-width:609px;
	overflow:hidden;
	margin-bottom:0;
	padding:0;
}
.content .thumbnail-header{
	background:url(../images/bgnews.png) no-repeat;
	width:100%;
	height:61px;
	max-width:609px;
}
.content .thumbnail-header h3{
	color:#fecf75;
	font-size:14px;
	font-weight:700;
	padding:3px 0;
	margin-left:60px;
	padding-right:0;
	display:inline-block;
	overflow:hidden;
	max-width:390px;
	max-height:24px;
	line-height:1;
}
.content .thumbnail-header h3 a{
	color:#fecf75;
}
.content .thumbnail-header span{
	color:#a9a9a9;
	font-size:11px;
	float: right;
    margin-top: 26px;
    margin-right: 35px;
}
.content .thumbnail-header span img{
	margin-right:10px;
	margin-top: -3px;
}
.content .thumbnail .caption p{
	font-size:14px;
	/* pfont-weight:700; */
}
.content .thumbnail .caption .btn-default{
	text-transform:uppercase;
	color:#9f9a95;
	font-weight:700;
	font-size:12px;
	background-color:#21201f;
	border:2px solid rgba(194,170,132,0.33);
	position:relative;
	z-index:1;
	padding-right:30px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.content .thumbnail .caption .btn-default:hover:after {
    width: calc(100%);
}
.content .thumbnail .caption .btn-default:after {
    content: '';
    background: #333031;
    height: calc(100%);
    width: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.content .thumbnail .caption{
	margin:0px 0;
	padding:10px;
	position:relative;
}
.tab-pane .caption{
	margin:0px 0;
	padding:10px;
	position:relative;
}
.tab-pane .caption p{
	font-size: 14px;
}
.tab-pane .caption hr{
	margin:15px 0;
	border:none;
	background:url(../images/postborder2.png) repeat-x;
	height:1px;
	max-width:580px;
	width:100%;
}
.content .thumbnail .caption img{
	margin-bottom:20px;
}
.navbar-overlay .container{
	min-width:1000px;
	max-width:1920px;
}
.content .players,
.content .forumposts{
	padding-right:0;
	padding-left:0;
	width:275px;
	margin-top:10px;
}
.content .sidebar-head{
	background:url(../images/strapes.png) no-repeat;
	height:60px;
}
.content .sidebar-head h2{
	font-size:14px;
	color:#f5f5f5;
	font-weight:700;
	text-align:center;
	padding-top:22.5px;
	margin:0;
	text-transform:uppercase;
}
.content .sidebar-content{
	background:url(../images/statsbg.png) no-repeat;
	height:300px;
	display: inline-block;
	min-width:100%;
	max-height:100%;
	position:relative;
	width:100%;
}
.content .players-stats th:nth-of-type(even){
	text-align:center;
	width:25%;
}
.content .players-stats .table{
	margin-top:15px;
	margin-bottom:10px;
	position:absolute;
}
.content .players-stats .table tr{
	font-weight:400;
	font-size:12px;
	color:#b0b0b0;
}
.content .players-stats .table td,
.table>thead>tr>th{
	border:none;
}
.content .players-stats th:nth-of-type(odd),
.content .players-stats .table td:nth-of-type(odd){
	width:75%;
}
.content .players-stats .table td:nth-of-type(even){
	text-align:center;
	width:25%;
}
.content .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding:2.5px 30px;
}
#sortplayers .mix{
    display: none;
}
#sortplayers .filters{
	text-align: center;
    position: absolute;
    margin-left: 103.5px;
    bottom: 22px;
}
#sortplayers .filters .btn-default.active{
	color:#fefefe;
}
#sortplayers .filters .btn-default{
	font-size:12px;
	font-weight:400;
	color:#b0b0b0;
	transition:0.5s;
	background-color:#000;
	border:none;
	margin:0 2.5px;
}
.content .forumposts{
	margin-top:30px;
}
.content .posts{
	background:url(../images/lastposts.png) no-repeat;
	height:353px;
}
.content .forumposts .post:hover{
	-webkit-transform: scale(1.122448979591837);
	transform: scale(1.122448979591837);
}
.content .forumposts .post{
	max-width:100%;
	width:100%;
	display:inline-block;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	padding: 10px 0 15px 5px;
	position: relative;
}
.content .forumposts .post:hover:before {
    height: calc(50% - 4px);
}
.content .forumposts .post:before {
    content: '';
    height: 0px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 0.5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.1;
    z-index: -1;
}
.content .forumposts .post:hover:after {
    height: 50%;
}
.content .forumposts .post:after {
    content: '';
    height: 0px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 2px;
    left: 0.5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.1;
    z-index: -1;
}
.content .forumposts .post a{
	color:#c7c7c7;
	/* font-size:14px; */
	font-weight:400;
	/* text-transform:capitalize; */
	line-height:1;
	/* width:240px;
	max-width:50%; */
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
/* 	margin-left:5px; */
}
.content .forumposts .post .question{
	/* float:left; */
	margin-right:10px;
}
.content .forumposts .post:first-child{
	margin-top:25px;
}
.content .forumposts .post p{
	font-size:10px;
	font-weight:400;
	color:#86827e;
	margin-left:30px;
	margin-bottom:0;
}
.content .forumposts .post time{
	margin-left:15px;
}
.content .forumposts hr{
	background:url(../images/postborder.png) bottom;
	background-color:transparent;
	width:100%;
	height:1px;
	border:none;
	margin:0;
}
.content .VK{
	padding:0;
	width:275px;
	margin-top:30px;
}
#vk_groups{
	margin-top:10px;
}
.footer{
	background-color:#222222;
	padding-top:63px;
	padding-bottom:30px;
	/* text-align:center; */
}
.footer .logo-footer:hover{
	opacity:1;}
.footer .logo-footer{
	opacity:0.4;
	transition:0.2s;
}
.footer .toparrow:hover{
	opacity:1;
}
.footer .toparrow{
	text-align:center;
	opacity:0.12;
	transition:0.2s;
	margin-top:30px;
}
.footer p{
	color:#afaaaa;
	font-size:10px;
	opacity:0.4;
	margin-left:10px;
	margin-bottom:0;
	text-align:left;
}
.footer .payments:hover{
	opacity:1;
}
.footer .payments{
	opacity:0.4;
	transition:0.2s;
	/* margin-top:30px; */
	margin-right: 25px;
}
.content .col-lg-8{
	margin-right: 5px;
    margin-left: 35px;
}
.postscut{
	width:100%;
	height:100%;
	padding:0 15px;
	display:inline-block;
}
.hvr-underline-from-left:before{
	background:rgba(255,123,0,0.8);
}
.hvr-fade{
	transition-duration: .5s;
}
.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover, .hvr-fade:hover {
	background:transparent;
	background-color:rgba(200,255,147,0.75);
	/* -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
	animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
	background-color: rgba(200,255,147,0.75);
	border-color:rgba(67,83,65,0.90);
	color:#fff;
}
.hvr-underline-from-center:hover{
	text-decoration:none;
}
.hvr-underline-from-center:before{
	background:#fecf75;
	bottom:-3px;
}


/* POP UP */
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

/* -------------------------------- 

xnugget info 

-------------------------------- */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #5e6e8d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #5e6e8d;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 580px;
  margin: 4em auto;
  background: url(../images/popbg.png);
  border-radius: .25em .25em .4em .4em;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /* padding:20px; */
  display:block;
}
.cd-popup-container .cd-popup-close:hover{
	opacity:1;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 13px;
  height: 13px;
  background:url(../images/x.png) no-repeat;
  opacity:0.25;
  transition:0.2s;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
.cd-popup-container .col-lg-12{
	padding:0 30px;
}
.cd-popup-container hr{
	margin:15px 0;
	border:none;
	background:url(../images/postborder.png) repeat-x;
	height:1px;
	max-width:580px;
	width:100%;
	margin-left:15px;
}
.caption hr{
	margin:15px 0;
	border:none;
	background:url(../images/postborder2.png) repeat-x;
	height:1px;
	max-width:580px;
	width:100%;
}
.cd-popup-container .bl{
	margin-left:0px;
}
.cd-popup-container .torrent{
	color:#fff;
	margin-left:20px;
}
.cd-popup-container h4{
	padding:15px 15px 0px 15px;
}
.cd-popup-container h4,.cd-popup-container h5{
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	font-size:16px;
	margin-top:0;
	text-align:left;
}
.cd-popup-container a img{
	margin-top:0;
	margin-right:5px;
}
.cd-popup-container img{
	margin-right:10px;
	margin-top:-10px;
}
.cd-popup-container p{
	font-weight:400;
	font-size:12px;
	color:#fff;
	margin-bottom:0;
	text-align:left;
	margin-left:30px;
}
.cd-popup-container .col-lg-6{
	position:relative;
}
.cd-popup-container .col-lg-6:first-child{
	border-right:1px solid #151515;
}
.cd-popup-container .cyan{
	color:#33e0ff;
}
.cd-popup-container .btn-default{
	text-transform:uppercase;
	font-size:16px;
	font-weight:700;
	color:#fff;
	border:none;
	text-align:center;
	margin-bottom:20px;
}
.cd-popup-container .btn-patch{
	background: rgba(255,123,0,1);
	background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(89,42,10,1)));
	background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b00', endColorstr='#592a0a', GradientType=0 );
	padding:8.5px 27px;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
}
.cd-popup-container .btn-patch:hover{
	background: rgba(89,42,10,1);
    background: -moz-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,42,10,1)), color-stop(100%, rgba(255,123,0,1)));
    background: -webkit-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
    background: -o-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
    background: linear-gradient(to bottom, rgba(89,42,10,1) 0%, rgba(255,123,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#592a0a', endColorstr='#ff7b00', GradientType=0 );
}
.cd-popup-container .btn-mirror{
    background: no-repeat;
    border: 2px solid #ff8732;
    border-left: 0;
    margin-left: -5px;
    height: 39px;
    margin-right: 10px;
	line-height: 16px;
	margin-bottom: 0;
}
.cd-popup-container .btn-mirror:hover{
    background: no-repeat;
    border: 2px solid #ff8732;
    border-left: 0;
    margin-left: -5px;
    height: 39px;
    margin-right: 10px;
	line-height: 16px;
	margin-bottom: 0;
}
.cd-popup-container .btn-mirror:focus{
    background: no-repeat;
    border: 2px solid #ff8732;
    border-left: 0;
    margin-left: -5px;
    height: 39px;
    margin-right: 10px;
	line-height: 16px;
	margin-bottom: 0;
}
.cd-popup-container .btn-game{
	background: rgba(65,180,218,1);
	background: -moz-linear-gradient(top, rgba(65,180,218,1) 0%, rgba(1,72,95,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,180,218,1)), color-stop(100%, rgba(1,72,95,1)));
	background: -webkit-linear-gradient(top, rgba(65,180,218,1) 0%, rgba(1,72,95,1) 100%);
	background: -o-linear-gradient(top, rgba(65,180,218,1) 0%, rgba(1,72,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(65,180,218,1) 0%, rgba(1,72,95,1) 100%);
	background: linear-gradient(to bottom, rgba(65,180,218,1) 0%, rgba(1,72,95,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b4da', endColorstr='#01485f', GradientType=0 );
	padding:16px 28px;
}
.cd-popup1 {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup1.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.progress-overlay{ 
background:rgba(0,0,0,0.4); 
width:150px; 
height:150px; 
border-radius:50%; 
} 
.progressbar{ 
position:relative; 
/* background: rgba(0,0,0,0.4); 
border-radius: 50%; */ 
} 
.progressbar:hover span.online { 
opacity: 1; 
-moz-transform: translateX(0px) translateY(0px) rotate(0deg); 
-webkit-transform: translateX(0px) translateY(0px) rotate(0deg); 
-o-transform: translateX(0px) translateY(0px) rotate(0deg); 
transform: translateX(0px) translateY(0px) rotate(0deg); 
} 
.progressbar span.online { 
padding: 5px 0px; 
position: absolute; 
left: 50%; 
top: -30px; 
width: 80px; 
margin-left: -40px; 
line-height: 20px; 
font-size: 36px; 
font-weight: bold; 
text-align: center; 
border-radius: 5px; 
opacity: 0; 
-moz-transform: translateX(-70px) translateY(40px) rotate(-90deg); 
-webkit-transform: translateX(-70px) translateY(40px) rotate(-90deg); 
-o-transform: translateX(-70px) translateY(40px) rotate(-90deg); 
transform: translateX(-70px) translateY(40px) rotate(-90deg); 
-webkit-transition: all 0.5s cubic-bezier(.57,.76,.45,1.34); 
-o-transition: all 0.5s cubic-bezier(.57,.76,.45,1.34); 
-moz-transition: all 0.5s cubic-bezier(.57,.76,.45,1.34); 
transition: all 0.5s cubic-bezier(.57,.76,.45,1.34); 
color:#b1b1b1; 
background-color:transparent;
}
.content  .thumbnail .btn-more img{
	display:inline;
	margin:0;
	height:8px;
	width:10px;
	margin-right:20px;
	margin-left:5px;
	color:rgba(154,154,154,0.17);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	margin-top:-2px;
}
.content .thumbnail .caption .btn-default:hover>img{
	transform: rotate(90deg) ;
	-webkit-transform: rotate(90deg) ;
	-moz-transform: rotate(90deg) ;
	-o-transform: rotate(90deg) ;
	-ms-transform: rotate(90deg) ;
}
.l2topC {
	position: absolute;
	margin-left: 25px;
	top: 150px;
}
.color2 {
    color: #fff!important;
}
.header .navi, .tops, .video, .servers, .event-bonuses .image, .bonuses .item, .logo, .l2topC, .start-play { -webkit-transition:all 0.5s cubic-bezier(.57,.76,.45,1.34); -o-transition:all 0.5s cubic-bezier(.57,.76,.45,1.34); -moz-transition:all 0.5s cubic-bezier(.57,.76,.45,1.34); transition:all 0.5s cubic-bezier(.57,.76,.45,1.34); }

.tops, .bonuses .item, .logo, .l2topC { -webkit-transform:scale(0); -o-transform:scale(0); -moz-transform:scale(0); transform:scale(0); opacity:0; visibility:hidden; -webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
body.loaded .tops, body.loaded .bonuses .item, body.loaded .logo, body.loaded .l2topC { -webkit-transform:scale(1); -o-transform:scale(1); -moz-transform:scale(1); transform:scale(1); opacity:1; visibility:visible; }

.header .navi { -webkit-transform:translateY(-400px) scale(1.2); -moz-transform:translateY(-400px) scale(1.2); -o-transform:translateY(-400px) scale(1.2); transform:translateY(-400px) scale(1.2); -webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
body.loaded .header .navi { -webkit-transform:translateY(0); -moz-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0); }

.servers, .event-bonuses .image, .start-play { -webkit-transform:perspective(400px) rotateX(90deg); -moz-transform:perspective(400px) rotateX(90deg); -o-transform:perspective(400px) rotateX(90deg); transform:perspective(400px) rotateX(90deg); -webkit-transform-origin: center; -moz-transform-origin: center; -o-transform-origin: center; transform-origin: center; -webkit-transition-delay:0.75s; -moz-transition-delay:0.75s; -o-transition-delay:0.75s; transition-delay:0.75s; }
body.loaded .servers, body.loaded .event-bonuses .image, body.loaded .start-play{ -webkit-transform:perspective(400px) rotateX(0deg); -moz-transform:perspective(400px) rotateX(0deg); -o-transform:perspective(400px) rotateX(0deg); transform:perspective(400px) rotateX(0deg); }

.video { opacity:0; -webkit-transform:translateX(-400px); -moz-transform:translateX(-400px); -o-transform:translateX(-400px); transform:translateX(-400px); -webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
body.loaded .video { opacity:1; -webkit-transform:translateX(0px); -moz-transform:translateX(0px); -o-transform:translateX(0px); transform:translateX(0px); }

/* body.loaded { -webkit-transform:translateX(0px) rotateX(0deg); -moz-transform:translateX(0px) rotateX(0deg); -o-transform:translateX(0px) rotateX(0deg); transform:translateX(0px) rotateX(0deg); } */
body .news{
	height: 0;
    overflow: hidden;
    padding-bottom: 0;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0;
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
    -webkit-transform: scale(0.7) translateY(200px);
    -moz-transform: scale(0.7) translateY(200px);
    -o-transform: scale(0.7) translateY(200px);
    transform: scale(0.7) translateY(200px);
    -webkit-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -moz-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -o-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    opacity: 0 !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
body.loaded .news{
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1 !important;
	height:auto;
	overflow:auto;
	visibility:visible;
}
body .forumposts,
body .VK,
body .players{
    -webkit-transform: perspective(400px) rotateX(-90deg);
    -moz-transform: perspective(400px) rotateX(-90deg);
    -o-transform: perspective(400px) rotateX(-90deg);
    transform: perspective(400px) rotateX(-90deg) rotateY(-30deg);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -moz-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -o-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
}
body.loaded .forumposts,
body.loaded .VK,
body.loaded .players{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
body .footer .container{
    -webkit-transform: translateY(-200px) rotateY(-90deg);
    -webkit-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -moz-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    -o-transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    transition: all 0.75s cubic-bezier(.57,.38,0,1.81) 0.75s !important;
    opacity: 0;
}
body.loaded .footer .container {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
    opacity: 1;
}
.news .thumbnail-header a{
	text-transform:uppercase;
}
body.loaded .l2topC img{
	opacity:0.4;
	transition:0.2s;
}
body.loaded .l2topC img:hover{
	opacity:1;
}
.postscut hr:last-child{
	visibility:hidden;
}




#nav-expander{
	visibility:hidden;
}
a.nav-expander {
  background: transparent;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding-top:1em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: auto;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 16.5em;
}

.nav-main {
  background: rgba(19,19,19,0.85);
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: auto;
  z-index: 2000;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
  -webkit-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.75);
}
.nav-expanded .nav-main {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 12px;
}
.nav-main .btn-primary {
    background: rgba(255,123,0,1);
    background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(89,42,10,1)));
    background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
    background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
    background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(89,42,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b00', endColorstr='#592a0a', GradientType=0 );
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    transition: 0.5s;
    padding: 15px 10px;
    text-shadow: 1px 1px 1px rgba(110, 52, 18, 0.68);
}
.nav-main .btn-primary .i-lock {
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}
.main-menu li {
  border-bottom: 1px solid rgba(255,123,0,1);
  margin-left: 20px;
  margin-right:20px;
  font-size: 18px;
  padding: 12px;
}
#nav-expander .close{
	display:inline;
	visibility:hidden;
	margin-left:10px;
	margin-top:4.3px;
	width:13px;
	height:13px;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	opacity:1;
}
body.nav-expanded #nav-expander .close{
	visibility:visible;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.main-menu li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #cdcdcd;
    font-weight: 700;
    transition: 0.2s;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}
.about .nav-tabs>li{
	float:none;
	position:relative;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.about .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color:transparent;
	color:#fff;
	border:none;
}
.about .nav-tabs>li>a{
	border:none;
	border-radius:0;
	margin:0;
	line-height:1;
	color:#cdcdcd;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	text-transform:uppercase;
	font-size:14px;
}
.about hr{
	/* border-bottom:1px solid rgba(255,123,0,1); */
	background: url(../images/postborder.png) bottom;
    background-color: transparent;
    width: 100%;
    height: 1px;
    border: none;
    margin: 0;
}
.about .nav-tabs hr:last-child{	
	visibility:hidden;
}
/*.navbar-default .navbar-nav>li>a{
	color:#cdcdcd;
}*/
.about .nav-tabs>li>a:hover{
	background-color:transparent;
	color:#fff;
}
.about .nav-tabs{
	border:none;
	/* border-right:1px solid rgba(255,123,0,1); */
	margin:0;
	padding:0;
	position:relative;
	
}
.about .tab-content h2{
	font-size:20px;
	color:#fecf75;
	margin-top:0;
}
.about .sidebar-head{
	display:inline-block;
	width:100%;
	margin-bottom:10px;
}
.about .nav-tabs li{
	background:rgba(44,44,44,0.29);
	/* min-height:40px; */
}
/* .hvr-shutter-in-vertical{
	background:rgba(44,44,44,0.29);
}
.hvr-shutter-in-vertical:hover{
	-webkit-transform: scale(1.1);
}
.hvr-shutter-in-vertical:before {
	background:rgba(44,44,44,0.5);
	visibility:visible;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	text-transform:uppercase;
}
.hvr-shutter-in-vertical:hover:before {
	background:rgba(255,255,255,0.5);
	visibility:hidden;
} */
.nav-tabs li:hover:before {
    height: 100%;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.nav-tabs li:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1B1B1A;
    -webkit-transform: rotateX(90deg) perspective(400px);
    -moz-transform: rotateX(90deg) perspective(400px);
    -o-transform: rotateX(90deg) perspective(400px);
    transform: rotateX(90deg) perspective(400px);
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-tabs li:after {
    display: table;
    content: '';
    clear: both;
}
.about .nav>li>a:hover, .nav>li>a:focus{
	background-color:transparent;
}
.about .tab-pane .spoiler{
    text-transform: uppercase;
    color: #9f9a95;
    font-weight: 700;
    font-size: 12px;
    background-color: #21201f;
    border: 1px solid rgba(194,170,132,0.33);
    position: relative;
    z-index: 1;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	border-radius:0;
}
.about .tab-pane .spoiler img {
    display: inline;
    margin: 0;
    height: 8px;
    width: 10px;
    margin-right: 15px;
    margin-left: 5px;
    color: rgba(154,154,154,0.17);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: -2px;
}
.about .tab-pane .spoiler:hover:after {
    width: calc(100%);
}
.about .tab-pane .spoiler:after {
    content: '';
    background: #333031;
    height: calc(100%);
    width: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.about .tab-pane .spoiler:hover>img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.well{
	background-color:transparent;
	background: url(../images/bg.png);
	border-radius:0;
	border: 1px solid rgba(194,170,132,0.33);
	color:#c7c7c7;
	padding:15px;
	position:relative;
	margin-top: 10px;
}
.well p{
	font-size:14px;
	color:#c7c7c7;
}
.well hr{
	margin-bottom:10px;
}
.well img{
	max-width:100%;
}
.well .sets img{
	width: 235px;
	opacity: 1;
	transition: 0.2s;
}
.well .sets img:hover{
	opacity: 0.8;
}
.well .rbs img{
	opacity: 1;
	transition: 0.2s;
}
.well .rbs img:hover{
	opacity: 0.8;
}
.well>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}
.well>.arrow:after {
    content: "";
    border-width: 10px;
}
.well>.arrow, .well>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.well>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -15px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(194,170,132,0.33);
	top: -17px;
    left: 9%;
	color:#fff;
	margin-top: -5px;
}
.well>.arrow {
    border-width: 11px;
}
@media (min-width:721px)
and (max-width:1365px){
	.logo{
		max-width:100%;
	}
	.arrows{
		visibility:hidden;
		display:none;
	}
	.btn-start{
		width:226px;
	}
	.servers{
		text-align:center;
	}
	.l2topC{
		position: absolute;
		margin-left: 35px;
		left: 0;
		top: 150px;
	}
	.header .overlay{
		background: url(../images/witch.png) no-repeat fixed;
		background-position-x: -600px;
	}
	.progress-overlay{
		background: rgba(0,0,0,0.4);
		width: 150px;
		display: inline-block;
		border-radius: 75%;
	}
	.content .row .col-lg-8{	
		margin-left:0;
		margin-right:0;
	}
	.content .thumbnail-header {
		background: url(../images/bgnews.png)no-repeat bottom left;
		width: 100%;
		max-width: 609px;
	}
	.content .thumbnail-header h3 {
		max-height:100%;
		padding:0 3px 0px 3px;
	}
	.content .thumbnail-header span {
		color: #a9a9a9;
		font-size: 11px;
		float: right;
	}
	.content .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 2.5px 25px;
	}
	.content .forumposts .post .question {
		margin-right: 8px;
	}
	.content .forumposts .post time {
		margin-left: 5px;
	}
	.content .players, .content .forumposts {
		width: 275px;
		margin-left: auto;
		margin-top: 10px;
		margin-right: auto;
		display:inline-block;
		vertical-align:top;
	}
	.content .row{
		text-align:center;
	}
	.content .row .col-lg-3:nth-child(even){
		margin-right:10px;
	}
	.content .row .col-lg-3:nth-child(odd){
		margin-left:10px;
	}
	.content .row .col-lg-3:last-child{
		margin-right:auto;
		margin-left:auto;
		display: inline-block;
		vertical-align: top;
		margin-top:10px;
	}
	.servers .col-md-4{
		margin-bottom:20px;
		display:inline-block;
	}
	.servers .col-md-4:last-child{
		margin-bottom:0;
	}
	.footer .toparrow {
		margin-top: 15px;
	}
	.footer .payments{
		display:none;
	}
	.VK{
		margin-left:auto;
		margin-right:auto;
		padding:0 15px;
	}
	.header-content .col-md-6{
		float:none;
		margin:0 auto;
	}
	.table{
		text-align:left;
	}
	.content .thumbnail{
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width:721px)
and (max-width:1000px){
	#nav-expander{
		visibility:visible;
	}
	.navbar{
		background:transparent;
	}
	.navbar-overlay .container{
		min-width:auto;
		max-width:auto;
	}
	.navbar-collapse.collapse{
		display:none;
	}
}
@media (min-width: 480px)
and (max-width: 720px){
	#nav-expander{
		visibility:visible;
	}
	
	
	.navbar-overlay .container {
		min-width: auto;
		max-width: auto;
	}
	.logo{
		max-width:100%;
	}
	.arrows{
		visibility:hidden;
		display:none;
	}
	.btn-start{
		width:226px;
	}
	.servers{
		text-align:center;
	}
	.l2topC{
		position: absolute;
		margin-left: 35px;
		left: 0;
		top: 150px;
	}
	.header .overlay{
		background: url(../images/witch.png) no-repeat fixed;
		background-position-x: -900px;
	}
	.progress-overlay{
		background: rgba(0,0,0,0.4);
		width: 150px;
		display: inline-block;
		border-radius: 75%;
	}
	.content .row .col-lg-8{	
		margin-left:0;
		margin-right:0;
	}
	.content .thumbnail-header {
		background: url(../images/bgnews.png)no-repeat bottom left;
		width: 100%;
		max-width: 609px;
	}
	.content .thumbnail-header h3 {
		max-height:100%;
		padding:0 3px 0px 3px;
	}
	.content .thumbnail-header span {
		color: #a9a9a9;
		font-size: 11px;
		float: right;
	}
	.content .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 2.5px 25px;
	}
	.content .forumposts .post .question {
		margin-right: 8px;
	}
	.content .forumposts .post time {
		margin-left: 5px;
	}
	.content .players, .content .forumposts {
		width: 275px;
		margin-left: auto;
		margin-top: 10px;
		margin-right: auto;
		display:inline-block;
		vertical-align:top;
	}
	.content .row{
		text-align:center;
	}
	.content .row .col-lg-3:nth-child(even){
		margin-right:10px;
	}
	.content .row .col-lg-3:nth-child(odd){
		margin-left:10px;
	}
	.content .row .col-lg-3:last-child{
		margin-right:auto;
		margin-left:auto;
	}
	.servers .col-md-4{
		margin-bottom:20px;
		display:inline-block;
	}
	.servers .col-md-4:last-child{
		margin-bottom:0;
	}
	.footer .toparrow {
		margin-top: 15px;
	}
	.footer .payments{
		display:none;
	}
	.VK{
		margin-left:auto;
		margin-right:auto;
		padding:0 15px;
	}
	.navbar{
		background:transparent;
		padding:20px 0;
	}
	.table{
		text-align:left;
	}
}
@media (max-width: 479px){
	#nav-expander{
		visibility:visible;
	}
	
	.navbar-overlay .container {
		min-width: auto;
		max-width: auto;
	}
	.logo{
		max-width:100%;
	}
	.arrows{
		visibility:hidden;
		display:none;
	}
	.btn-start{
		width:100%;
	}
	.servers{
		text-align:center;
	}
	.l2topC{
		position: absolute;
		margin-left: 35px;
		left: 0;
		top: 150px;
	}
	.header .overlay{
		    background: url(../images/witch.png) no-repeat fixed;
		background-position-x: -1240px;
	}
	.progress-overlay{
		background: rgba(0,0,0,0.4);
		width: 150px;
		display: inline-block;
		border-radius: 75%;
	}
	.content .row .col-lg-8{	
		margin-left:0;
		margin-right:0;
	}
	.content .thumbnail-header {
		background: url(../images/bgnews.png)no-repeat bottom left;
		width: 100%;
		max-width: 609px;
	}
	.content .thumbnail-header h3 {
		max-height:100%;
		padding:0 3px 0px 3px;
	}
	.content .thumbnail-header span {
		color: #a9a9a9;
		font-size: 11px;
		float: right;
		margin:0;
	}
	.content .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 2.5px 25px;
	}
	.content .forumposts .post .question {
		margin-right: 8px;
	}
	.content .forumposts .post time {
		margin-left: 5px;
	}
	.content .players, .content .forumposts {
		padding-right: 15px;
		padding-left: 15px;
		width: 275px;
		margin-left: auto;
		margin-top: 10px;
		margin-right: auto;
	}
	.servers .col-md-4{
		margin-bottom:20px;
	}
	.servers .col-md-4:last-child{
		margin-bottom:0;
	}
	.footer .toparrow {
		margin-top: 15px;
	}
	.footer .payments{
		display:none;
	}
	.VK{
		margin-left:auto;
		margin-right:auto;
		padding:0 15px;
	}
	.navbar{
		background:transparent;
		padding:20px 0;
	}
}











.castled { float: left; width: 380px; margin: 0 auto 15px; }
.castled, .castled > div { display: table; }
.castled .ct { font-size: 16px; font-weight: bold; padding: 10px 0 10px 30px; }
.castled .imgc { width: 200px; height: 113px; border: 1px solid rgba(0,0,0,0.4); float: left; border-radius: 6px; }
.castled .imgc span { display: block; width: 200px; height: 113px; background: rgba(0,0,0,0.6) url('../../globales/img/nm/castles.jpg') no-repeat; border-radius: 5px; }
.castled .ci { float: left; width: 168px; padding: 2px 0 0 10px; }
.castled .ci .co { font-weight: bold; }
.castled .ci .cc { margin-bottom: 8px; }
.castled .nwar { padding: 5px 0 10px 0; }
.castled .imgc.aden span { background-position: left top; }
.castled .imgc.goddard span { background-position: -200px top; }
.castled .imgc.giran span { background-position: -400px top; }
.castled .imgc.oren span { background-position: -600px top; }
.castled .imgc.dion span { background-position: -800px top; }
.castled .imgc.gludio span { background-position: -1000px top; }
.castled .imgc.innadril span { background-position: -1200px top; }
.castled .imgc.rune span { background-position: -1400px top; }
.castled .imgc.schuttgart span { background-position: -1600px top; }