/* 
=============================================================
This Skin for STRESS WEB Developed by S.T.R.E.S.S.

File 'engine.css' - Cascading Style Sheet (CSS) Document

Этот файл требуется для каждого шаблона 
=============================================================
*/
#error, .error { padding:15px; background:#f63636; color:#ffc4c4; text-align:center; margin:5px 0;}
#noerror, .noerror { text-align: center; padding:15px; background:#39d43c; color:#b7fab9; margin:5px 0; }
.button { margin: 15px 0px 5px 10px; background: #333; color: #ffffff; }
.captcha { height: 22px; }

input, select { width:232px; height:40px; background:#241d17; outline:none; border:1px solid #473a2e; color:#6f665d;  margin:5px 0; padding:0 10px; }
select{ width:252px; }
#mysqlerror { border: 3px double; } 
.tdLeft { text-align: left; padding: 5px 0px 5px 10px; width: 60%; }
.tdRight { text-align: right; padding: 5px 10px 5px 0px; width: 40%; }
.tabForm .input { }
.tabForm p { font-size: 14px; font-weight: bold; padding: 15px 0px 20px 0px; }
.description { font-size: 10px; font-weight: normal; color:#b0a47e; }
.descript { padding: 10px; font-size: 11px; font-weight: normal; text-align: justify; }
.swc { font-size: 9px; font-family: Verdana; font-style: italic; }
.swc a { font-size: 10px; font-family: Verdana; font-style: italic; }
.links a { font-size:12px; }
/***************************
* ОПРОС НА САЙТЕ
***************************/
#poll {margin-bottom: 20px; padding: 0 5px;}
#poll .ptitle {
	text-align: left;
	font-weight: bold;
	padding: 5px 1px 5px 10px;
}
#poll .pradio {
	padding-left: 5px;
}
#poll .panswer {
	padding-left: 5px;
}
#poll .pprogress {
	padding-left: 5px;
}
#poll .pbuttons {
	text-align: center;
}
#poll .pvote {
	font-size: 12px;
}
#poll .presult {
	font-size: 10px;
}
/***************************
* page lister
***************************/
#pager { text-align:center; }
#pager a { display:inline-block; color:#2e2b2b; }
#pager a:hover, #pager a.nopager { color:#757575; text-decoration:underline; }
/***************************
* Statistic
***************************/
.l2stat td {
	text-align: center;
}
.l2stat .l2left {
	width: 50%;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
.l2stat .l2right {
	width: 50%;
	text-align: left;
	padding-left: 10px;
}
.l2title {
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 13px;
}
.l2stat .l2rates {
	font-size: 11px;
}
#l2servers {text-align: center;}
#l2servers {
}
#l2servers a {
-webkit-transition: all 0.5s ease;
	padding:3px 7px;
	line-height:24px;
	text-decoration:none;

}
#l2servers a.activ { text-decoration:underline; }


#l2menu {text-align: center; margin-bottom:10px; }
#l2menu a {
	
	padding:3px 7px;
	line-height:24px;
	text-decoration:none;
}
#l2menu a:hover { text-decoration:underline; }
.trRowA {
	
}
#l2top {
	width: 100%;
	font-size: 11px;
	vertical-align: top;
	text-align: center;
}
#l2top th, #swsupport th  {
	height: 32px;
	background:#241d17;
	color:#6f665d;
}
#l2top td {
border-bottom:1px solid #241d17;
	padding: 5px 0px 5px 0px;
	-webkit-transition:all 0.5s  cubic-bezier(.56,.09,.5,1.34); -o-transition:all 0.5s  cubic-bezier(.56,.09,.5,1.34);-moz-transition:all 0.5s  cubic-bezier(.56,.09,.5,1.34); transition:all 0.5s  cubic-bezier(.56,.09,.5,1.34);
}
#l2top tr:hover td { background:#3f352d; }
#l2top .name {
	text-align: left;
	font-weight:normal;
	font-family:Arial;;
}
#l2top .male {
	color: #cf9e63;
}
#l2top .female {
	color: #cf9e63;
}
#l2top .pvp {
	font-weight: bold;
}
#l2top .pk {
	color: f93434;
	font-weight: bold;
}
#l2top a {
	text-decoration: underline;
}
.l2online {
	color: #4adb37;
	font-weight: bold;
}

.l2offline {
	color: #f93434;
	font-weight: bold;
}
/***************************
* Таблица с замками
***************************/
#l2castle {
	width: 400px;
	text-align: left;
	font-size: 11px;
	padding: 1px 10px 1px 10px;
}

#l2castle .l2left {
	width: 164px;
	height: 123px;
	text-align: left;
	padding: 5px 5px 5px 1px;
}

#l2castle .l2right {
	height: 123px;
	text-align: left;
	padding: 5px 1px 5px 5px;
	vertical-align: middle;
}
/***************************
* cabinet
***************************/
.ch_pass td {
	height: 25px;
}
.tabProfileMenu a {
	padding: 0px 5px 0px 5px;
	font-size:12px;
}
#l2 {
	width: 100%;
	font-size: 10px;
	border: 1px solid rgba(72,71,63,0.6);
	border-collapse: collapse;
	margin: 10px 0px;
}
#l2 th {
	height: 32px;

	border-top: 1px solid rgba(72,71,63,0.6);
	border-bottom: 1px solid rgba(72,71,63,0.6);
}
#l2 tr { 
	height: 22px;
	vertical-align: middle;
	border: 1px solid rgba(72,71,63,0.6); 
}
#l2 td { 
	padding: 0px 5px 0 5px; 
	border-bottom: 1px solid rgba(72,71,63,0.6);
	height: 22px;
}
#l2 .serv {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background:#241d17;
	color:#6f665d;
	height: 25px; 
}
#l2 .name {
	text-align: left;
}
#l2 a {
	color: rgb(90, 90, 255);
	text-decoration: underline;
	font-size: 10px;
}

/***************************
* Просмотр персонажа                                      
****************************/
#l2char {
	font-size: 10px;
	margin: 10px 1px 5px 1px;
	border: 1px solid rgba(72,71,63,0.6);
	border-collapse: collapse;
}
#l2char th {
	height: 20px;
	padding: 0px;
	margin: 0px;
	background:#241d17;
	color:#6f665d;
	border-collapse: collapse;
	border: 1px solid rgba(72,71,63,0.6);
	text-align: center;
}
#l2char td {
	height: 20px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: 1px solid rgba(72,71,63,0.6);
	text-align: center;
}
#l2char .char {
	background:#241d17;
	color:#6f665d;
}
.invent {
	background: url('../images/line.gif') repeat-y;
	width: 252px;
}
/***************************
* Оформление инвентаря     
***************************/
#l2inventory { 
	width: 310px; 
	height: 408px; 
	margin: 5px;
	background: url('../images/other/inventory.png'); 
	vertical-align: top;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px;
	/*padding: 67px 0px 0px 0px;*/
	border: 1px solid transparent;
}
#l2inventory_items {
	margin: 67px 0px 0px 20px;
	width: 268px;
	height: 288px;
	overflow: auto;
	position: relative;
	padding: 1px 0px 0px 2px;
	background: url(../images/other/line.gif);
	background-repeat: repeat-y;
	background-attachment: scroll;
}
img.floated {
	float: left;
	position: relative;
	padding: 0px 4px 4px 0px;
	width: 32px;
	height: 32px;}
.clearfloat {
	clear:both; height:0px;
	line-height:0px; visibility: hidden;}
#l2inventory_items .scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0; 
	left: 0;}
#l2inventory_items .vscrollerbase {
	width: 15px;
	background-color: white;}
#l2inventory_items .vscrollerbar {
	width: 15px;
	background-color: black;}
#l2inventory_items .vscrollerbar {
	background: #99CBCB url(../images/other/basebarcaps.png) -15px 0px repeat-y;}
#l2inventory_items .vscrollerbar {
	padding: 15px;
	z-index: 2;}
#l2inventory_items .vscrollerbarbeg {
	background: url(../images/other/basebarcaps.png) -45px 0px no-repeat;
	width: 15px;
	height: 15px !important;}
#l2inventory_items .vscrollerbarend {
	background: url(../images/other/basebarcaps.png) -45px -30px no-repeat;
	width: 15px;
	height: 15px;}
#l2inventory_items .vscrollerbase {
	background: #D7EBDF url(../images/other/basebarcaps.png) 0px 0px repeat-y;}
#l2inventory_items .vscrollerbasebeg {
	background: url(../images/other/basebarcaps.png) -30px 0px no-repeat;
	width: 15px;
	height: 15px !important;}
#l2inventory_items .vscrollerbaseend {
	background: url(../images/other/basebarcaps.png) -30px -30px no-repeat;
	height: 15px;
	width: 15px;}
#l2inventory_items .scrollerjogbox:hover {
	background: #5E828C url(../images/other/basebarcaps.png) -45px -15px;}
/***************************
* Оформление paperdoll     
***************************/
#l2paperdoll {
	width: 310px; 
	height: 291px; 
	margin: 5px;
	background: url('../images/other/paperdoll.png'); 
	vertical-align: top;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px;
	border: 1px solid transparent;
}
#l2paperdoll_items {
	margin: 75px 0px 0px 30px;
	width: 245px;
	height: 149px;
	position: relative;
}
#l2paperdoll #item {
	position: absolute;
	width: 32px;
	height: 32px;
	padding: 0px;
}
#l2paperdoll .hidden{ 
	display:none;
}

#l2paperdoll .lefthair{ 
	margin-left: 0px;
	margin-top: 0px;
}
#l2paperdoll .helmet{ 
	margin-left: 39px;
	margin-top: 0px;
}
#l2paperdoll .righthair{ 
	margin-left: 78px;
	margin-top: 0px;
}
#l2paperdoll .dress{ 
	margin-left: 0px;
	margin-top: 38px;
}
#l2paperdoll .top{ 
	margin-left: 39px;
	margin-top: 38px;
}
#l2paperdoll .cloak{ 
	margin-left: 78px;
	margin-top: 38px;
}
#l2paperdoll .gloves{ 
	margin-left: 0px;
	margin-top: 76px;
}
#l2paperdoll .lower{ 
	margin-left: 39px;
	margin-top: 76px;
}
#l2paperdoll .bots{ 
	margin-left: 78px;
	margin-top: 76px;
}
#l2paperdoll .weapon{ 
	margin-left: 0px;
	margin-top: 114px;
}
#l2paperdoll .shield{ 
	margin-left: 78px;
	margin-top: 114px;
}

#l2paperdoll .leftearring{ 
	margin-left: 132px;
	margin-top: 0px;
}
#l2paperdoll .necklace{ 
	margin-left: 171px;
	margin-top: 0px;
}
#l2paperdoll .rightearring{ 
	margin-left: 210px;
	margin-top: 0px;
}
#l2paperdoll .leftring{ 
	margin-left: 132px;
	margin-top: 38px;
}
#l2paperdoll .ring{ 
	margin-left: 171px;
	margin-top: 38px;
}
#l2paperdoll .rightring{ 
	margin-left: 210px;
	margin-top: 38px;
}
#l2paperdoll .braslet{
	margin-left: 132px;
	margin-top: 90px;
}
/***************************
* l2top.ru bonus
***************************/
.voteBlock { padding-bottom: 15px; text-align: left;  width: 350px; margin: 0 auto;}
#voteTab1 .input { width: 120px; }
#voteTab1 td {padding: 5px;}
/***************************
* la2.mmotop.ru bonus
***************************/
.voteBlock2 { padding-bottom: 15px; text-align: left; width: 350px; margin: 0 auto;}
.voteBlockErr {text-align: center;}
#voteTab2 .input { width: 120px; }
#voteTab2 td {padding: 5px;}
/***************************
* other
***************************/
.regForm {  margin: 0 auto;}
.regForm p {text-align: center; font-size: 13px; font-weight: bold;}
.regbutton, .button, .chbutton { outline: none;	margin: 5px; padding: 10px 40px;	background:#241d17; outline:none; color:#6f665d; border: none; font-size: 16px; cursor: pointer; -webkit-transition: all 0.5s ease; }
.regbutton:hover, .button:hover, .chbutton:hover { background:#3f352d; }

.regForm .tdLeft {	text-align: left;	padding: 5px 0px 5px 10px;	width: 60%;	}
.regForm .tdRight {	text-align: right;	padding: 5px 10px 5px 0px;	width: 40%;}

.repassForm { margin: 0 auto;}
.repassForm p {text-align: center; font-size: 13px; font-weight: bold;}
.repassForm .tdLeft {	text-align: left;	padding: 5px 0px 5px 10px;	width: 60%;	}
.repassForm .tdRight {	text-align: right;	padding: 5px 10px 5px 0px;	width: 40%;}

#sexsid label {font-weight: bold;}
#sexchar label {font-weight: bold;}
#changersid label {font-weight: bold;}
#changerchar label {font-weight: bold;}

#swsupport { width: 100%; font-size: 11px; vertical-align: top;	text-align: center;}
#swsupport th { height: 32px; color: #000; border-bottom: 2px solid;}
#swsupport td {	border-bottom: 1px solid #888;	padding: 5px 0px 5px 0px;}
#swsupport2 { width: 100%; font-size: 11px; vertical-align: top;	text-align: center; border: 1px solid #AAA; }
#swsupport2 .td1 {border-bottom: 1px solid #222;}
#swsupport2 .td2 {border-bottom: 1px solid #222; padding-left: 5px; border-left: 1px dashed;}
#swsupport2 .trRowA {background: none;}
#swsupport2 .trRowA2 {padding-left: 5px; border-left: 1px dashed #aaa;}
