  .slider{
        background: url("images/bg.png");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    .bg2{
        background: url("images/bg2.png");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
     .bg3{
        background: url("images/bg3.png");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    
    .p {color: white; text-shadow: -5px -5px 5px #000;}
    .h1 {color: white; text-shadow: -5px -5px 5px #000;}
    .h2 {color: white; text-shadow: -5px -5px 5px #000; font-size: 20px; }
    
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Bellefair');

    .marcellus { font-family: 'Marcellus SC', serif;}
    .cinzel {font-family: 'Cinzel Decorative', cursive;}
    .bellefair {font-family: 'Bellefair', serif;}
    
    .bellafairform {font-family: 'Bellefair', serif;
    font-size: 11px;
    }