/**Lenguaje*/
.langs { right: 320px; z-index: 2; position: absolute; width: 200px; height: 58px; box-sizing: border-box; padding: 8px 0 0 33px; background: transparent url('../images/lang_bg.png') no-repeat; }
.langs a { float: left; display: block; height: 47px; margin: 0; }
.langs a.en { width: 47px; }
.langs a.pt, .langs a.es { width: 43px; }
.langs a span { display: block; width: 100%; height: 47px; background: transparent url('../images/langs.png') no-repeat; opacity: 0; transition: opacity 0.2s; }
.langs a.en span { background-position: -0px 0; }
.langs a.es span { background-position: -47px 0; }
.langs a.pt span { background-position: -90px 0; }
.langs a:hover span { opacity: 0.7; }
.langs a:active { opacity: 0.4; }




article a { color: #9b0000 !important; }
article a:hover { color: #c22525 !important; }
article a:active { color: #761717 !important; }

article a.default, a.default, span.default, input.default, .rankings_options > div a { transition: background-color 0.4s, border-color 0.4s; cursor: pointer; display: block; text-align: center; font-weight: bold; font-size: 12px; text-transform: uppercase; padding: 6px 0 5px 0; width: 178px; margin: 0 0 1px; border-radius: 3px; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; font-family: Tahoma; } article .ucp a.default, .ucp a.default, .ucp span.default, .ucp input.default { padding: 9px 0 10px 0; } article a.default:active, a.default:active, input.default:active, span.default:active { opacity: 0.7; }
/* article a.default, a.default, span.default, input.default, .rankings_options > div a { background: #6a0101; background: -moz-linear-gradient(top, #a20000 0%, #6a0101 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a20000), color-stop(100%,#6a0101)); border: 1px solid #6a0101; color: rgba(255,255,255,0.8) !important; } */
article a.default, a.default, span.default, input.default, .rankings_options > div a {/* background: #6a0101; */background: -moz-linear-gradient(top, #bf4840 0%, #6a0101 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4840), color-stop(100%,#6a0101));border: 1px solid #6a0101;color: rgba(255,255,255,0.8) !important;}
article a.default:hover, a.default:hover, input.default:hover, span.default:hover, .rankings_options > div a:hover { background: #ce0000; border-color: #ce0000; color: #fff !important; }
a.default.dbig, input.default.dbig { font-size: 14px; width: 220px; padding: 10px 0; text-align: center; display: table; }


.userarea { width: 308px; height: 170px; padding: 1px 0 0 20px; box-sizing: border-box; top: 507px; right: 66px;  }
.userarea .avatar { float: left; width: 78px; height: 78px; border: 1px solid #6e6e6e; background-position: -1px -1px; margin: 0 5px 0 0; border-radius: 5px; }

.loginarea { z-index: 999; position: relative; float: left; width: 240px; height: 80px; }
.loginarea .loader { opacity: 0.8; width: 155px; height: 77px; background: #000 url('../images/nm/loader.gif') no-repeat center center; position: absolute; left: 0; top: 0; }
.loginarea .ess { display: block; padding: 25px 0 0 2px; color: #fff !important; }

.loginarea .ess a:hover { text-shadow: 0 0 5px rgba(255,255,255,0.8); }
.loginarea .error { width: 240px; box-sizing: border-box; position: absolute; top: -30px; right: 0; padding: 6px; background: #b30000; border-radius: 4px; text-align: center; color: #fff; font-size: 11px; }


.fieldsBox { position: relative; width: 100%; padding: 0; }
.fieldsBox .inpt { letter-spacing: 0.5px; outline: none; background: rgba(255,255,255,0.1); color: #fff; font-size: 12px; border: 1px solid rgba(255,255,255,0.2); padding: 0 10px 0 25px; margin: 0; width: 100%; height: 27px; line-height: 27px; box-sizing: border-box; margin: 0 0 5px 0; border-radius: 4px; }
.fieldsBox .inpt:focus { border-color: rgba(255,255,255,1); }
.fieldsBox .inpt.pass { margin-bottom: 2px; }
.fieldsBox .acc_icon { position: absolute; width: 11px; height: 11px; }
.fieldsBox .acc_icon.user { left: 8px; top: 8px; background: transparent url('../images/login-icons.png') no-repeat 0 0; }
.fieldsBox .acc_icon.pass { left: 8px; top: 41px; background: transparent url('../images/login-icons.png') no-repeat 0 -13px; }
.fieldsBox .gologin { position: absolute; right: 0; top: 35px; width: 48px; height: 30px; line-height: 23px; padding: 0; margin: 3; box-sizing: border-box; font-size: 10px; border-radius: 0 4px 4px 0 !important; }

.logged { background: rgba(255,255,255,0.15); border-radius: 5px; color: #fff; font-size: 13px; width: 154px; height: 29px; line-height: 29px; padding: 0 12px; box-sizing: border-box; text-transform: capitalize; margin: 0 0 5px 0; }

.loggedOptions { display: table; }
.loggedOptions > * { position: relative; float: left; font-size: 13px !important; height: 46px; line-height: 44px; padding: 0 !important; margin: 0; box-sizing: border-box; border: 0; }
.loggedOptions > *.o1 { width: 73px; cursor: default; text-align: right !important; border-radius: 5px 0 0 5px; border-right: 1px solid #480303 !important; }
.loggedOptions > *.o2 { width: 81px; cursor: pointer; border-radius: 0 5px 5px 0; border-left: 1px solid #911e1e !important; }
.loggedOptions > span > span { box-sizing: border-box; display: block; width: 100%; height: 46px; padding-right: 27px; background: url('../images/menu-arrow.png') no-repeat 48px 20px; }
.loggedOptions > span > div { transition: opacity 0.4s; opacity: 0; position: absolute; top: 45px; left: -1px; display: block; width: 1px; height: 1px; overflow: hidden; background: transparent; padding: 0; box-shadow: 5px 5px 0 rgba(0,0,0,0.2); border-radius: 4px; }
.loggedOptions > span > div > a { display: block; text-transform: uppercase; width: 100%; height: 28px; line-height: 28px; font-size: 11px !important; padding: 0 10px; box-sizing: border-box; margin: 0 0 2px 0; }
.loggedOptions > span > div > a:hover { background: #fff; border-color: #fff; color: #000 !important; }
.loggedOptions > span:hover > div { background: #400000; opacity: 1; width: 145px; height: auto; padding: 5px 5px 3px; }
.loggedOptions > span:hover > div > a { display: block; }
